<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><strong><u><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 24px;">C Beam Linear Rail Aluminium Extrusion Profile(SILVER)</span></span></span></u></strong><br></span>
</p>
<p style="text-align: center;"><strong><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">| Free Shipping <span style="background-color: rgb(255, 255, 0);">(within India Only)</span> | Free Custom Cutting | Tapping Service Available | Made and Supported in India</span></span></strong>
</p>
<p style="text-align: justify;"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">C Beam manufactured by 3DPrintronics in India is based on OpenBuilds          C-Beam linear rail  aluminium extrusion profile design. It is fully compatible with all V-Slot linear rail profile and accessories as well as all Openbuilds hardware. <span style="background-color: rgb(255, 255, 0);"><strong>Size of C beam is 40 x 80mm</strong></span></span></span>
</p>
<p><span style="font-size: 18px;"><strong><span style="color: rgb(0, 0, 0);">Free shipping </span></strong></span>
</p>
<p style="text-align: justify;"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(255, 255, 0);"><strong>For C Beam Linear Actuators click <a href="https://www.3dprintronics.com/Linear-Actuators-c29346154" target="_blank">here</a>.</strong></span></span></span>
</p>
<hr>
<p style="text-align: justify;"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"></span></span>
</p>
<p style="text-align: center;"><strong><u><span style="font-size: 24px;"><span style="color: rgb(0, 0, 0);">The 3DPrintronics Advantage</span></span></u></strong>
</p>
<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><strong><u><span style="font-size: 24px;"></span></u></strong>
	<iframe src="//www.youtube.com/embed/zlIKXdU9cf4" frameborder="0" allowfullscreen="" style="text-align: left; width: 500px; height: 281px;">
	</iframe></span>
</p>
<p><u><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><strong><span style="color: rgb(0, 0, 0);">Services Available</span></strong></span></span></span></u>
</p>
<ul>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">Free Custom Cutting into lengths as required - specify in order comments.</span></span></li>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">Tapping of Ends - Select number of holes and specify in order comments.</span></span></li>
	<li><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">Depth of M5 Tapping is 15mm</span></span></span></li>
</ul>
<hr>
<p style="text-align: center;"><span style="font-size: 18px;"><strong><u><span style="font-size: 24px;"><span style="color: rgb(0, 0, 0);">Example Build</span></span></u></strong></span>
</p>
<p><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;">Using C-Beam you can make <strong>CNC Machines, <a href="https://www.3dprintronics.com/Linear-Actuators-c29346154" target="_blank">Linear Actuators</a>, 3D Printers</strong></span><span style="font-size: 18px;"> and much more.</span><br></span>
</p>
<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><br></span>
</p>
<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><br></span>
</p>
<p style="text-align: center;"><span style="color: rgb(0, 0, 0);">
	<iframe width="500" height="281" src="//www.youtube.com/embed/qeZgLL-xTVA" frameborder="0" allowfullscreen="" style="background-color: initial; text-align: left;">
	</iframe><br></span>
</p>
<p style="text-align: center;">
	<iframe src="https://www.youtube.com/embed/T9RAwQmZ8sY" frameborder="0" allowfullscreen="" style="background-color: initial; text-align: left; width: 500px; height: 281px;">
	</iframe><br>
</p>
<p style="text-align: center;">
	<iframe width="500" height="281" src="https://www.youtube.com/embed/cmJhuMp-k9s" frameborder="0" allowfullscreen="">
	</iframe><br>
</p>
<p style="text-align: center;"><img src="https://d2j6dbq0eux0bg.cloudfront.net/images/wysiwyg/product/2442119/122128747/1736409738271739046453/1887499233_png.png" width="498" height="499" style="width: 498px; height: 499px;">
</p>
<hr>
<p><strong><u><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"></span></span></u></strong>
</p>
<p><strong><u><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">How to Place Order</span></span></u></strong>
</p>
<p style="margin-left: 20px;"><span style="color: rgb(0, 0, 0);"><strong></strong></span>
</p>
<ul>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong><u>Step 1</u></strong> - Select the length and tapping as required in the length.</span></span></li>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong><u>Step 2</u></strong> - Select number of pcs of that length and add to cart.</span></span></li>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong><u>Step 3</u></strong> - Select next length you need and follow steps 1 and 2.</span></span></li>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong><u>Step 4</u></strong> - Check cart and review order. Place order and specify any custom requirements and tapping details.</span></span></li>
</ul>
<hr>
<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><strong><u><span style="font-size: 24px;">Longer Lengths, Shipping and Delivery</span></u></strong><strong><u><span style="font-size: 24px;"></span></u></strong></span>
</p>
<ul>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(255, 255, 0);"><strong><span style="color: rgb(0, 0, 0);">C-Beam Aluminium Extrusions are available up to 2m in length. For lengths more than 1m, please contact us for quote and shipping costs.</span></strong></span></span></span></li>
	<li><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong><span style="color: rgb(0, 0, 0);">All C-Beam is shipped FREE through <span style="background-color: rgb(255, 255, 0);"><u>DELHIVERY</u></span> ground shipping (they are heavy profiles). Shipping time varies between 6-7 working days from shipping date. We request you to be patient in this regard.</span></strong></span></span></li>
</ul>
<p><strong><span style="color: rgb(0, 0, 0);"></span></strong>
</p>
<hr>
<p style="text-align: justify;"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong></strong></span></span>
</p>
<p style="text-align: justify;"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><strong><span style="color: rgb(0, 0, 0);">C Beam, V Slot and all related accessories are manufactured in India as per the opensource designs of <a href="http://www.openbuilds.com">www.openbuilds.com</a> . We are not affiliated to openbuilds in any manner.</span><br></strong></span></span>
</p>