<p style="text-align: center;"><span style="color: rgb(0, 0, 0);"><u><strong><span style="font-size: 24px;">2020 V Slot Aluminum Extrusion Profile</span><br></strong></u></span>
</p>
<p style="text-align: center;"><strong><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 20px;"><span style="color: rgb(0, 0, 0);">Free Custom Cutting | Secure Packaging | Free Next Day Shipping | Tapping & Counter Hole Boring Service | Made & Supported in India</span></span></span></span></strong>
</p>
<ul>
	<li><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;">Dimensions - 2020, Finish - Silver Anodized</span></span></span></span></li>
	<li><span style="font-size: 18px;">Precise Custom cutting of all lengths ordered can be done on request. Example - If you order 2 pcs of 1000mm, you can get them precisely cut <strong>Free of cost</strong> into 4 pcs of 500mm or any lengths you need. Just mention in order comments or mail us after order placement.</span></li>
	<li><span style="font-size: 18px;">V Slot is an improved form of T Slot Aluminium Extrusion Profiles as it combines functionality of T Slot with added advantage of linear motion. V Slot and T Slot use common hardware like T Nuts, Joining Plates etc.<br></span></li>
</ul>
<hr>
<div style="text-align: center;"><strong><span style="color: rgb(0, 0, 0);"><u><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 24px;">The 3DPrintronics Advantage - Services Available</span></span></span></u><br></span></strong>
</div>
<div><strong><span style="color: rgb(0, 0, 0);"><u><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 24px;"><br></span></span></span></u></span></strong>
</div>
<div style="text-align: center;"><strong><span style="color: rgb(0, 0, 0);">
	<iframe width="500" height="281" src="https://www.youtube.com/embed/zlIKXdU9cf4" frameborder="0" allowfullscreen="">
	</iframe></span></strong><br>
</div>
<p style="text-align: center;">
	<iframe src="https://www.youtube.com/embed/0CkXFI1SkmA" frameborder="0" allowfullscreen="" style="width: 500px; height: 281px;">
	</iframe>
</p>
<p style="text-align: center;">
	<iframe width="500" height="281" src="https://www.youtube.com/embed/cmJhuMp-k9s" frameborder="0" allowfullscreen="">
	</iframe><br>
</p>
<p style="text-align: center;"><img src="https://d2j6dbq0eux0bg.cloudfront.net/images/wysiwyg/product/2442119/44631146/1736399460970-1935619141/1887499233_png.png" width="499" height="500" style="width: 499px; height: 500px;">
</p>
<ul>
	<li><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">Cut to length (Free), M5 Tapping (Chargeable), cutting tolerance +/- 0.2 mm</span></span></span></li>
	<li><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">Depth of M5 Tapping is 15mm</span></span></span></li>
	<li><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">M5 counter bore holes on profile face for socket head screws (Chargeable, drawing required).</span></span></span></li>
	<li><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">High Quality Packing - ensures you get your rails in perfect condition.<br></span></span></span></li>
</ul>
<hr>
<p style="text-align: center;"><strong><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);"><span style="font-size: 24px;"><u>Longer Lengths and Bulk Purchases</u></span></span></span></strong>
</p>
<p><strong><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">2020 V Slot Linear rails are available up to 3 meters continuous length. </span></span></strong><strong><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">For <span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><strong>bulk purchases</strong></span></span> & longer than 1 meter lengths, contact us for optimum shipping prices.</span></span></strong>
</p>
<hr>
<p><strong><span style="font-size: 18px;"></span></strong>
</p>
<p style="text-align: center;"><span style="font-size: 20px;"><strong><span style="color: rgb(0, 0, 0);"><u><span style="font-size: 24px;">Shipping & Delivery</span></u></span></strong></span>
</p>
<ul>
	<li><span style="font-size: 20px;"><strong><span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(255, 255, 255);">Free Shipping through ground shipping service</span></span></strong><br></span></li>
	<li><strong><span style="color: rgb(0, 0, 0);"><span style="font-size: 20px;">Delivery time for all free shipping orders - 6 to 7 working days</span></span></strong></li>
</ul>
<p><u><span style="background-color: rgb(255, 255, 255);"><strong></strong></span></u>
</p>
<p><strong><span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(0, 0, 0);"></span></span></strong>
</p>
<hr>
<p><span style="color: rgb(0, 0, 0);"><span style="font-size: 18px;"><strong></strong></span></span>
</p>
<p><strong><span style="font-size: 18px;"><span style="color: rgb(0, 0, 0);">C Beam, V Slot and all related accessories are manufactured in India as per the opensource designs of <a href="http://www.openbuilds.com/">www.openbuilds.com</a> . We are not affiliated to openbuilds in any manner.</span></span></strong>
</p>